{% extends 'admin/media/image/show.html.twig' %}
{% import 'admin/_partials/breadcrumb.html.twig' as breadcrumb %}
{% block title %}{{ image.info.name }} - Exif{% endblock %}
{%- block breadcrumb -%}
  {{- parent() -}}
  {{- breadcrumb.item('Exif', 'admin.media.image.exif') -}}
{%- endblock -%}

{% block content %}

  <ul class="actions">
    <li>
      <button
          is="x-js-button"
          class="button theme--danger compact"
          data-key="tag"
          data-value="all"
          data-url="{{ path('admin.media.image.exif.clean',{id: image.id()}) }}"
          data-csrf="{{ csrf_token("admin.media.image.exif.clean") }}">Clean All
      </button>
      <button
          is="x-js-button"
          class="button theme--warning compact"
          data-key="tag"
          data-value="thumbnailimage"
          data-url="{{ path('admin.media.image.exif.clean',{id: image.id()}) }}"
          data-csrf="{{ csrf_token("admin.media.image.exif.clean") }}">Clean Thumbnail
      </button>
    </li>
  </ul>

  <table class="bordered">
    {% for key, val in exif %}
    {% set id = 'id-'~random() %}
    <tr>
      <th><label for="{{ id }}">{{ key }}</label></th>
      <td>
        <input id="{{ id }}" name="{{ key }}" type="text" value="{{ val|default('') }}" size="60">
        <button class="theme--dark narrow" data-for="{{ id }}" is="x-auto-save-button"
                data-save="{{ path('admin.media.image.exif.setValue', { id: image.id }) }}"
                data-csrf="{{ csrf_token("admin.media.image.exif.setValue") }}">
          <x-icon icon="save"></x-icon>
        </button>
      </td>
      {% endfor %}
  </table>
{% endblock %}